[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
coverage = "*"
requests = "*"
selenium = "*"
sentry-sdk = "*"
flake8 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
